<form action="/answer">
  <div class="container">
    <div class="element">
      <h2>ask the coach a question</h2>
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </div>
  </div>
</form>
